$font-stack: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$color-dark: #333;
$color-blue: #1ea7fd;
$font-weight-bold: 700;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-header: 20px;