@use 'base';

@mixin storybook-button() {
  font-family: $font-stack;
  font-weight: $font-weight-bold;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.storybook-button--primary {
  @include storybook-button;
  color: white;
  background-color: $color-blue;
}

.storybook-button--secondary {
  @include storybook-button;
  color: $color-dark;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--small {
  font-size: $font-size-small;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: $font-size-medium;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: $font-size-large;
  padding: 12px 24px;
}